{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{% block external_css %}
    {% include 'extern_files.html' %}
    {% endblock %}


</head>
<body class="stretched">

<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		
		{% block home_navbar %}
		{% include 'admin_navbar.html' %}
		{% endblock %}
		
			<section id="content">

			<div class="content-wrap" style="padding-top:60px; padding-bottom:0px;" >

				<div class="section header-stick"  style="background-image:url('https://c4.wallpaperflare.com/wallpaper/922/533/179/street-lamp-night-darkness-wallpaper-preview.jpg');background-repeat:no-repeat;background-size:cover;color:white; background-position:center; background-size:cover; padding:40px 0px; margin-top:110px; margin-bottom:10px!important;">
					<div class="container clearfix">
						<div class="row">

							<div class="col-md-12" style="color:white;" >
								<div class="heading-block bottommargin-sm">
									<h3 style="color:white;">Add Fine - Traffic Offender</h3>
								</div>

								<p class="nobottommargin">Wearing of Protective Helmet - Every person driving or riding otherwise than in a side car, on a motor cycle of any class or description, shall, while in a public place, wear protective Helmet conforming to the standards of Bureau of Indian Standards:</p>
							</div>
<!--
							<div class="col-md-3">
								<a href="#" class="button button-3d button-dark button-large btn-block center" style="margin-top: 30px;">Check our Services</a>
							</div>
-->
						</div>
					</div>
				</div>
				</div>
				<div class="container clearfix">
<!-- Navigation bar Starts here -->		

<!-- Navigation bar Ends here -->

	
	<div>
		<h1 class="well text-center">Traffic Management | Add Fine Details</h1>
		<div class="col-sm-12">
			<div class="col-sm-6">
			<form  class="form-horizontal" enctype="multipart/form-data"  action="admin_addfine" method="post"  name="fine" >
				{% csrf_token %}	
				<div class="form-group">
					 <label class="col-sm-6" style="margin-bottom:0px; margin-top:5px; " >Vehicle Type:</label>
						<div class="col-sm-6">
						<select  name="vtype" id="vcity" class="form-control not-dark">
							<option value="Bike">Bike</option>
							<option value="Car">Car</option>
							<option value="Heavy_Vehicle">Heavy_Vehicle</option>
						</select>
							
						</div>
					</div>
					  <div class="form-group">
						<label class="col-sm-6" style="margin-bottom:0px; margin-top:5px; " >Traffic Violation</label>
						<div class="col-sm-6">
						  <input name="Traffic_violation" type="text" id="vcity" class="form-control not-dark" >
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-6" style="margin-bottom:0px; margin-top:5px;" >Fine amount</label>
						<div class="col-sm-6">
						  <input name="fine" type="text" id="vcity" class="form-control not-dark" >
						</div>
						
						
					  </div>
					  
					  <div class="form-group" align="center">
						<input type="submit" class="btn btn-success btn-block"/>
					  </div>
					
			  </form>
			 </div>
			 <div class="col-sm-6">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Vehicle</th>
							<th>Traffic Violation</th>
							<th>Fine</th>
						</tr>
					</thead>
					
					<tbody>
						{% for i in v_Offence %}
						<tr>
							<td>{{ i.category }}</td>
							<td>{{ i.sub_category }}</td>
							<td>{{ i.fine }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			 </div>
			 
		  
		
	</div>
</div>

	
</div><!--tab content nd here -->


	
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>


