<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
    {% block external_css %}
    {% include 'extern_files.html' %}
    {% endblock %}

<style>
	label{
		text-transform:capitalize;
		font-size:16px;
	}
</style>
</head>
<body class="stretched">


<div id="wrapper" class="clearfix">

    {% block home_navbar %}
    {% include 'user_navbar.html' %}
    {% endblock %}

        				    
	
	<script>alert('{{ messages|safe }}');</script>
  	
		
<!-- Navigation bar Ends here -->
<div class="row">
<section id="content">

			

				<div class="section parallax  bottommargin-lg" style="margin:0px; background-size: 100%;
    background-position: 50% -42.9px; background-image: url('htps://c4.wallpaperflare.com/wallpaper/922/533/179/street-lamp-night-darkness-wallpaper-preview.jpg'); padding: 50px; 0; margin:0px;" data-stellar-background-ratio="0.3">

					<div class="container clearfix">

						<div class="col-sm-12">
							<div class="">
							
							
	
<h1 class="well text-center"  style="background-color:black;color:white">Hello {{ user_data.first_name }}{{ user_data.last_name }},  Please fill the | Traffic Violator Form</h1>


<div style="box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.949); padding: 10px; color:black!important">
<form class="form-horizontal" enctype="multipart/form-data"  action="user_home" method="post"  name="login" >
  {% csrf_token %}
    <div class="form-group">
    <label class="col-sm-3" style="margin-bottom:0px; margin-top:5px; " >
Vehicle Registration No:</label>
    <div class="col-sm-9">
      <input name="vrno" placeholder="Enter Vehicle Registration Number" type="text" id="vrno" class="form-control not-dark" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3" style="margin-bottom:0px; margin-top:5px; "" >Violation Date:</label>
    <div class="col-sm-9">
      <input name="vdate" type="date" id="vdate" class="form-control not-dark" >
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3" style="margin-bottom:0px; margin-top:5px; " >Violation Place:</label>
    <div class="col-sm-9">
      <input name="vplace" placeholder="Enter Violation place"  type="text" id="vplace" class="form-control not-dark" >
    </div>
  </div>
   
    <div class="form-group">
	 <label class="col-sm-3" style="margin-bottom:0px; margin-top:5px; " >Vehicle Violation Type</label>
    <div class="col-sm-9">
		<select name="vtype"class="form-control not-dark" >
			<option value="">--Select--</option>
			<option value="Defective Number Plate">Defective Number Plate</option>
			<option value="No Parking">No Parking</option>
			<option value="Not Wearing ">Not Wearing Seat Belt</option>
			
			
			<option value="Riding without Helmet">Riding without Helmet</option>
			
			
			<option value="Triple Riding">Triple Riding</option>
			<option value="Using Mobile Phone">Using Mobile Phone</option>
			
			
			<option value="Loud dual tone horn">Loud dual tone horn</option>			
		</select>
      
    </div>
  </div>
      <div class="form-group">
	 <label class="col-sm-3" style="margin-bottom:0px; margin-top:5px; " >Violation Time:</label>
    <div class="col-sm-9">
      <input name="vtime" type="time" id="vtime" class="form-control not-dark" >
    </div>
  </div>
      <div class="form-group">
	 <label class="col-sm-3" style="margin-bottom:0px; margin-top:5px; " >Discription:</label>
    <div class="col-sm-9">
      <textarea name="desc" type="text" id="desc" class="form-control not-dark" ></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-3" style="margin-bottom:0px; margin-top:5px; " >Photo  of Traffic Violator:</label>
    <div class="col-sm-9"> 
      <input name="photo" type="file"  id="photo"/>
    </div>
  </div>

    
 
  <div class="form-group"> 
    <div class="col-sm-offset-3 col-sm-3">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  </div>
  </form>

</div>

</div>
</div>
</div>
</div>
</div>

	

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>
</div>


</body>
</html>